# This is Git's per-user configuration file.
[user]
	name = Muriuki
	email = 97036296+muhreeowki@users.noreply.github.com
# Please adapt and uncomment the following lines:
#	name = Muriuki
#	email = muriuki@muchir.com
